@font-face{
    font-family: "Digital";
    src: url(../fonts/DS-DIGIT.ttf);
}

#reloj{
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: rgb(103, 214, 44);
}

.reloj-contenedor{
    background-color: rgb(15, 14, 14);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#hora{
    font-family: "Digital";
}

#fecha{
    letter-spacing: 10px;
    font-size: 15px;
}

.animar{
    border: rgb(0, 0, 0) 2px solid;
}
